page-about {
    .scroll-content{
        padding:0px!important;
        margin:0px;
    }
    .input{
        background:rgb(250,250,250);
        width:100%;
        height:60px;
    .inp{
        background:rgb(237,237,237);
        margin:15px 4%;
        width:92%;
        height:70%;
        text-align:center;
    }
  }
  img{
      width:100%;height:auto;
      padding:0;
      display:block;/*插入图片有时padding和margin都为0，但还有间距，image将图片撑大3px  写display:block; */
  }
  .navList{
    padding-left:0px!important;
    margin:0;
     height:44px;
     line-height:44px;
     text-align:center;
     color:dark;
    .first{ 
         background:#ffdb2c;
        }
        li{
            float:left;
            height:44px;
            width:20%;;
            list-style:none;
            text-align:center;
        }
    }
    p{
        float:left;
        width:100%;
        text-align:center;
        margin:5px 0;
        color:rgb(127,127,127);
        ion-icon{
            float:right;
            padding-right:20px;
        }
    }
    .goods{
        padding:0;
        img{
            width: 100%;
        }
        li{
            position:relative;
            width: 45%;
            float: left;
            margin: 5px 0 5px 3%;
        }
        p{
            position: absolute;
            width: 100%;
            bottom:4px;
            margin: 0;
            color: rgb(246,246,246);
            height: 45%;
            text-align: center;
            font-weight:300;
            padding-top:15px;
            background-color:rgba(0,0,0,0.5);
            span{
                color:#ffdb2c;
            }
        }
      }
      .p1{
         padding-right:15px;
          width:35%;
          float:right;
      }
}
