page-login {
    .scroll-content{
        padding:0px!important;
        margin:0px;
    }
    ion-content{
        height:100%;
        margin:0px;
        background-image:url('../../assets/imgs/login1.png');
        background-size: cover;
        img{
            margin:20% 38.5%;
            height:7.5%;
            width:23%;
        }
        .a{ 
            width:100%;
            height:auto;
            padding:0px 7%;
        ion-item{
            width:100%;
            height:50px;
            border-top:0.5px solid rgb(128,128,128);
            border-left:0.5px solid rgb(128,128,128);
            border-right:0.5px solid rgb(128,128,128);
            margin-top:10px;
            padding-left:0;
            ion-label{
                padding-left:10px;
                font-size:25px;
            }
        }
    }
    button{
        padding:0px!important;
        margin:0px 7%!important;
        width:86%!important;
        color:white!important;
    }
    .b{
        width:86%;
        margin:0 7%;
        margin-top:8.2%;
        color:rgb(128,128,128);
    }
    .c{
        width:84%;
        margin:8% 7%;
        height:40px;
      span{
          margin:0;
          float:left;
          display: block;
           width:40px;
           height:40px;
          border-radius: 50%;
          background:rgb(155,155,155);
          margin-right:30%;
          img{
              width:80%;
              height:80%;
              border-radius: 50%;
              margin:10% 10%;
          }
         
       }
       .c1{margin-right:0;}
    }
    ion-footer{
       padding-bottom:10px;
       color:rgb(128,128,128);
       span{
           float:left;
           padding:0 7%;
       }
       .d{float:right;}
    }
  }
 
}
